---
import { Icon } from 'astro-icon/components'
import { AUTO_MODE, DARK_MODE, LIGHT_MODE } from '@constants/constants'
import I18nKey from '@i18n/i18nKey'
import { i18n } from '@i18n/translation'
---
<!-- z-50 make the panel higher than other float panels -->
<div id="light-dark-wrapper" class="relative z-50" role="menu" tabindex="-1">
    <button aria-label="Light/Dark Mode" role="menuitem" class="relative btn-plain scale-animation rounded-lg h-11 w-11 active:scale-90" id="scheme-switch">
        <div class="absolute" id="scheme-icon-light">
            <Icon name="material-symbols:wb-sunny-outline-rounded" class="text-[1.25rem]" />
        </div>
        <div class="absolute" id="scheme-icon-dark">
            <Icon name="material-symbols:dark-mode-outline-rounded" class="text-[1.25rem]" />
        </div>
        <div class="absolute" id="scheme-icon-auto">
            <Icon name="material-symbols:radio-button-partial-outline" class="text-[1.25rem]" />
        </div>
    </button>

    <div id="light-dark-panel" class="hidden lg:block absolute transition float-panel-closed top-11 -right-2 pt-5">
        <div class="card-base float-panel p-2">
            <button data-scheme={LIGHT_MODE} class="scheme-btn flex transition whitespace-nowrap items-center !justify-start w-full btn-plain scale-animation rounded-lg h-9 px-3 font-medium active:scale-95 mb-0.5">
                <Icon name="material-symbols:wb-sunny-outline-rounded" class="text-[1.25rem] mr-3" />
                {i18n(I18nKey.lightMode)}
            </button>
            <button data-scheme={DARK_MODE} class="scheme-btn flex transition whitespace-nowrap items-center !justify-start w-full btn-plain scale-animation rounded-lg h-9 px-3 font-medium active:scale-95 mb-0.5">
                <Icon name="material-symbols:dark-mode-outline-rounded" class="text-[1.25rem] mr-3" />
                {i18n(I18nKey.darkMode)}
            </button>
            <button data-scheme={AUTO_MODE} class="scheme-btn flex transition whitespace-nowrap items-center !justify-start w-full btn-plain scale-animation rounded-lg h-9 px-3 font-medium active:scale-95">
                <Icon name="material-symbols:radio-button-partial-outline" class="text-[1.25rem] mr-3" />
                {i18n(I18nKey.systemMode)}
            </button>
        </div>
    </div>
</div>

<script>
import { AUTO_MODE, DARK_MODE, LIGHT_MODE } from '@constants/constants'
import {
    applyThemeToDocument,
    getStoredTheme,
    setTheme,
} from '@utils/setting-utils'

type LightDarkMode = typeof LIGHT_MODE | typeof DARK_MODE | typeof AUTO_MODE
const seq: LightDarkMode[] = [LIGHT_MODE, DARK_MODE, AUTO_MODE]

function initLightDarkSwitch() {
    const wrapper = document.getElementById('light-dark-wrapper')
    const switchBtn = document.getElementById('scheme-switch')
    const panel = document.getElementById('light-dark-panel')
    const iconLight = document.getElementById('scheme-icon-light')
    const iconDark = document.getElementById('scheme-icon-dark')
    const iconAuto = document.getElementById('scheme-icon-auto')
    const schemeButtons = document.querySelectorAll('.scheme-btn')
    if (!wrapper || !switchBtn || !panel || !iconLight || !iconDark || !iconAuto) return

    let mode: LightDarkMode = getStoredTheme() as LightDarkMode

    function updateUI() {
        iconLight.classList.toggle('opacity-0', mode !== LIGHT_MODE)
        iconDark.classList.toggle('opacity-0', mode !== DARK_MODE)
        iconAuto.classList.toggle('opacity-0', mode !== AUTO_MODE)

        schemeButtons.forEach(btn => {
            const scheme = (btn as HTMLElement).dataset.scheme
            btn.classList.toggle('current-theme-btn', scheme === mode)
        })
    }

    function switchScheme(newMode: LightDarkMode) {
        mode = newMode
        setTheme(newMode)
        updateUI()
    }

    function toggleScheme() {
        let i = seq.indexOf(mode)
        switchScheme(seq[(i + 1) % seq.length])
    }

    function showPanel() {
        panel.classList.remove('float-panel-closed')
    }

    function hidePanel() {
        panel.classList.add('float-panel-closed')
    }

    updateUI()

    switchBtn.addEventListener('click', toggleScheme)
    switchBtn.addEventListener('mouseenter', showPanel)
    wrapper.addEventListener('mouseleave', hidePanel)

    schemeButtons.forEach(btn => {
        btn.addEventListener('click', () => {
            const scheme = (btn as HTMLElement).dataset.scheme as LightDarkMode
            switchScheme(scheme)
        })
    })

    const darkModePreference = window.matchMedia('(prefers-color-scheme: dark)')
    const onSchemeChange = () => applyThemeToDocument(mode)
    darkModePreference.addEventListener('change', onSchemeChange)
}

initLightDarkSwitch()
document.addEventListener('astro:after-swap', initLightDarkSwitch)
</script>
